{{define "about"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
    <link rel="stylesheet" href="./static/styles/about.css">
</head>

<body>
    <header>
        <div class="left-header-container">
            <a href="/home">
                <h2>Rick et Morty API</h2>
            </a>
        </div>
        <form action="/research">
            <div class="search-bar">
                <input type="text" placeholder="Recherchez un personnage !" id="search-bar" name="research">
                <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px"
                    fill="#777777" id="search-bar-svg">
                    <path
                        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
            </div>
        </form>
        <div class="right-header-container">
            <nav class="header-nav">
                <ul class="header-ul">
                    <li class="home-link"><a href="/home">Accueil</a></li>
                    <li class="collection-link"><a href="/collection">Collection</a></li>
                    <div class="underline-container">
                        <li class="about-link"><a href="/about">A propos</a></li>
                        <div class="underline"></div>
                    </div>
                    <li class="account-link"><svg width="20px" height="20px" viewBox="0 0 40 40" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.12">
                                <path
                                    d="M31.1397 32.3973C28.1876 35.0516 24.2825 36.6667 20.0002 36.6667C15.7178 36.6667 11.8127 35.0516 8.86066 32.3973C9.87453 30.0087 12.2417 28.3333 15.0002 28.3333H25.0002C27.7586 28.3333 30.1258 30.0087 31.1397 32.3973Z"
                                    fill="#ebec62" />
                                <path
                                    d="M20 22.5C23.6819 22.5 26.6666 19.5152 26.6666 15.8333C26.6666 12.1514 23.6819 9.16666 20 9.16666C16.3181 9.16666 13.3333 12.1514 13.3333 15.8333C13.3333 19.5152 16.3181 22.5 20 22.5Z"
                                    fill="#ebec62" />
                            </g>
                            <path class="account-icon"
                                d="M8.86047 32.3974C9.87435 30.0087 12.2415 28.3333 15 28.3333H25C27.7584 28.3333 30.1256 30.0087 31.1395 32.3974M26.6666 15.8333C26.6666 19.5152 23.6819 22.5 20 22.5C16.3181 22.5 13.3333 19.5152 13.3333 15.8333C13.3333 12.1514 16.3181 9.16668 20 9.16668C23.6819 9.16668 26.6666 12.1514 26.6666 15.8333ZM36.6666 20C36.6666 29.2048 29.2047 36.6667 20 36.6667C10.7952 36.6667 3.33331 29.2048 3.33331 20C3.33331 10.7953 10.7952 3.33334 20 3.33334C29.2047 3.33334 36.6666 10.7953 36.6666 20Z"
                                stroke="#ebec62" stroke-width="3.33333" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <div class="account-menu">
                            {{if .IsRegistered}}
                            <a href="/login?disconnect=true">
                                <h5>Déconnection</h5>
                            </a>
                            {{else}}
                            <a href="/register">
                                <h5>Inscription</h5>
                            </a>
                            <span></span>
                            <a href="/login">
                                <h5>Connexion</h5>
                            </a>
                            {{end}}
                        </div>
                    <li class="favorite-link"><a href="/favorite"><svg class="favorite-icon" fill="#ebec62"
                                height="18px" width="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve">
                                <path d="M326.632,10.346c-38.733,0-74.991,17.537-99.132,46.92c-24.141-29.383-60.399-46.92-99.132-46.92
                   C57.586,10.346,0,67.931,0,138.714c0,55.426,33.049,119.535,98.23,190.546c50.162,54.649,104.729,96.96,120.257,108.626l9.01,6.769
                   l9.009-6.768c15.53-11.667,70.099-53.979,120.26-108.625C421.95,258.251,455,194.141,455,138.714
                   C455,67.931,397.414,10.346,326.632,10.346z" />
                            </svg></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main-title">
            <h2> À Propos - Documentation du Projet Groupie Tracker
            </h2>
        </div>
        <div class="main-container">
            <div class="left-main-container">

                <h4>Comment avez-vous décomposé le projet ? Quelles ont été les phases clés ?</h4>
                <p>
                    <br>
                    1. Le projet a été décomposé en plusieurs phases structurées pour assurer une progression fluide et
                    méthodique :
                    <br>
                    <br>
                    Choix de l'API et des endpoints : Recherche et validation d'une API REST respectant les contraintes
                    du
                    projet.
                    <br>
                    Conception des wireframes et maquettes : Réalisation des ébauches de l'interface utilisateur avec
                    Figma.
                    <br>
                    Développement des fonctionnalités principales : Mise en place du backend avec Golang et récupération
                    des
                    données via l'API.
                    <br>
                    Implémentation des systèmes de recherche, filtres, pagination et favoris.
                    <br>
                    Tests et corrections : Vérification du bon fonctionnement du site, correction des bugs et
                    optimisation
                    des performances.
                    <br>
                    Finalisation et documentation : Rédaction du README et structuration de la documentation technique
                    et
                    utilisateur.
                    <br>
                    <br>
                </p>
                <h4>Comment avez-vous réparti les tâches entre les membres de l’équipe ? Avez-vous utilisé une stratégie
                    particulière pour organiser le travail ?</h4>
                <br>
                <p>
                    2. Le projet étant réalisé en individuel, la gestion des tâches a été optimisée en suivant une
                    approche
                    agile personnelle :
                    <br>
                    <br>
                    Définition d’un backlog des fonctionnalités à implémenter.
                    <br>
                    Priorisation des tâches en fonction de leur complexité et dépendances.
                    <br>
                    Utilisation de GitHub pour le versioning et le suivi des évolutions.
                    <br>
                    Planification hebdomadaire avec des objectifs clairs pour chaque fonctionnalité.
                    <br>
                </p>
            </div>
            <div class="right-main-container">
                <h4>Comment avez-vous géré votre temps ? Avez-vous défini des priorités ?</h4>
                <p>
                    <br>
                    3. Une gestion rigoureuse du temps a été mise en place avec une approche en itérations courtes :
                    <br>
                    <br>
                    Définition de jalons hebdomadaires avec des tâches précises.
                    <br>
                    Priorisation des fonctionnalités obligatoires avant d’ajouter d’éventuels bonus.
                    <br>
                    Répartition du temps en phases : 70% développement, 20% tests et 10% documentation.
                    <br>
                    Ajustements réguliers en fonction des défis techniques rencontrés.
                    <br>
                    <br>
                </p>
                <h4>Quelle stratégie avez-vous adoptée pour vous documenter ?</h4>
                <p>
                    <br>
                    4. Pour assurer une compréhension approfondie des technologies utilisées :
                    <br>
                    <br>
                    Consultation de la documentation officielle de Golang et des API REST.
                    <br>
                    Recherche sur des forums et plateformes comme Stack Overflow en cas de blocage.
                    <br>
                    Utilisation de Postman pour tester les endpoints et analyser les réponses JSON.
                    <br>
                    Rédaction de notes personnelles pour faciliter la réutilisation des connaissances acquises.
                    <br>
                    <br>
                    Ce projet a été une opportunité d'apprentissage et de mise en pratique des bonnes pratiques de
                    développement web avec Golang.
                </p>
            </div>
        </div>
    </main>

    <footer>
        <div class="left-footer-container">
            <p>© 2024 - Rick et Morty API</p>
        </div>
        <div class="right-footer-container">
            <p>All Rights Reserved | | Terms and Conditions Privacy Policy</p>
        </div>
    </footer>
</body>
<script src="./static/script/account.js"></script>

</html>
{{end}}