{{define "home"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/home.css">
    <title>Accueil</title>
</head>

<body>
    <header>
        <div class="left-header-container">
            <a href="/home">
                <h2>Rick et Morty API</h2>
            </a>
        </div>
        <div class="center-header-container"> <img src="./static/img/rick_and_morty_logo.png" alt="Logo Rick et Morty">
        </div>
        <div class="right-header-container">
            <nav class="header-nav">
                <ul class="header-ul">
                    <div class="underline-container">
                        <li class="home-link"><a href="/home">Accueil</a></li>
                        <div class="underline"></div>
                    </div>
                    <li class="collection-link"><a href="/collection">Collection</a></li>
                    <li class="about-link"><a href="about.html">A propos</a></li>
                    <a href="favorite.html"><svg fill="#bdc01b" height="18px" width="18px" version="1.1" id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 455 455" xml:space="preserve">
                            <path d="M326.632,10.346c-38.733,0-74.991,17.537-99.132,46.92c-24.141-29.383-60.399-46.92-99.132-46.92
                       C57.586,10.346,0,67.931,0,138.714c0,55.426,33.049,119.535,98.23,190.546c50.162,54.649,104.729,96.96,120.257,108.626l9.01,6.769
                       l9.009-6.768c15.53-11.667,70.099-53.979,120.26-108.625C421.95,258.251,455,194.141,455,138.714
                       C455,67.931,397.414,10.346,326.632,10.346z" />
                        </svg></a>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="title-container">
            <h1>
                Bienvenue sur l'API Rick et Morty !
            </h1>
        </div>
        <form action="/research">
            <div class="search-bar">
                <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px"
                    fill="#777777" id="search-bar-svg">
                    <path
                        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
                <input type="text" placeholder="Recherchez un personnage !" id="search-bar" name="research">
            </div>
        </form>
    </main>
    <footer>
        <div class="left-footer-container">
            <p>© 2024 - Rick et Morty API</p>
        </div>
        <div class="right-footer-container">
            <p>All Rights Reserved | | Terms and Conditions Privacy Policy</p>
        </div>
    </footer>
</body>
<script src="./static/script/search.js"></script>

</html>
{{end}}