* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  background: center/cover no-repeat url("../img/home-background.jpg");
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  background-blend-mode: darken; /* Blend the background image with the color */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  margin-top: 25px;
  height: 10vh;
}

header img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -20px;
}

.left-header-container h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #ebec62;
}

a {
  text-decoration: none;
}

.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}


.header-ul svg {
  margin-top: 5px;
}

.header-ul svg:hover {
  cursor: pointer;
}

.favorite-icon:hover {
  fill: #80c342;
}

.header-ul li {
  font-size: 1.2rem;
  font-weight: 500;
}

.header-ul li a {
  text-decoration: none;
  color: #ebec62;
}

.header-ul li a:hover {
  color: #80c342;
}

.account-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  position: absolute;
  right: 2.3%;
  top: 10%;
  height: auto;
  width: auto;
  padding: 10px;
  background-color: #18365b;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: 0.3s ease;
  visibility: visible;
}

.account-menu a {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ebec62;
}

.account-menu a:hover {
  color: #80c342;
}

.account-menu span {
  background-color: #ebec62;
  height: 1px;
  width: 80%;
}

.underline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.underline {
  height: 4px;
  width: 100%;
  background-color: #80c342;
  border-radius: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf8b9;
  border-radius: 50px;
  width: 40%;
  transform: translateX(5%);
}

.search-bar input {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0 20px;
  font-size: 1.3rem;
  font-weight: 500;
  background: none;
}

.search-bar input:focus {
  outline: none;
  border: none;
}

.search-bar svg {
  margin-right: 20px;
  cursor: text;
}

/* ------------------main------------------ */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 70vh;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #ebec62;
  text-align: center;
  margin-bottom: 20px;
}

.title p {
  text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.main-container button {
  padding: 5px 15px;
  font-size: 1.1rem;
  cursor: pointer;
  background: none;
  color: #ebec62;
  border: none;
  width: 110px;
}

.main-container button:hover {
  color: #80c342;
}

.underline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.collection {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #9dadba;
  border-radius: 20px;
  min-height: 250px;
  height: auto;
  min-width: 450px;
}

.collection-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.collection img {
  height: 18vh;
  border-radius: 20px;
  margin: 0px 80px 0px 40px;
}

.collection-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  color: #000;
  width: 50%;
}

.blue-bar {
  background-color: #18365b;
  height: 10px;
  margin: 2.5px 0;
  width: 100%;
}

.blue-bar:first-child {
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
}

.blue-bar-end {
  background-color: #18365b;
  height: 40px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blue-bar-end p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.blue-bar-end a {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  width: 50%;
  color: #fff;
}

.blue-bar-end button:hover {
  color: #f7cbcb;
}

.page-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.page-button-container a {
  padding: 5px 15px;
  font-size: 1.1rem;
  cursor: pointer;
  background: none;
  color: #ebec62;
  border: none;
  text-decoration: none;
}

.next {
  margin-right: 12px;
}

.page-button-container p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #80c342;
}

.page-button-container a:hover {
  color: #80c342;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  height: 11.8vh;
  font-size: 1.2rem;
  color: #ebec62;
  margin-top: 50px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 33vh;
  color: #ebec62;
  font-size: 1.2rem;
  transition: 0.5s ease-in-out;
  background-color: #18365b;
  position: absolute;
  top: 0%;
  left: 25%;
  z-index: 2;
  transform: translateY(-100%);
  border-radius: 20px;
  box-shadow: rgba(97, 131, 196, 0.35) 0px 5px 15px;
  visibility: hidden;
}

.filter.active {
  transform: translateY(0%);
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.close {
  margin-left: 800px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.filter-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gender {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.status-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gender-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.filter button {
  font-size: 1.3rem;
  cursor: pointer;
  background: none;
  color: #ebec62;
  border: none;
}

.filter button:hover {
  color: #80c342;
}
